<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">            
    <!--style sheet-->
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <title>Ms Maria's Burger Joint</title>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--javascript-->
    <script src="/assets/js/script.js"></script>
</head>
<body>
    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Ms Maria's Burger Joint</h1>
        <div class="row center">
          <h5 class="header col s12 light">We make any burger you want</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/assets/img/background2.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

        {{{body}}}

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MM Burger Joint</h5>
          <p class="grey-text text-lighten-4">We are an authentic awesome burger joint located at the end of the Universe. We are a location much favored by dolphins. Here you can have any burger your heart desires as your last meal before departing for the treck up the mountain to view the message left for the Universe by God. No spoilers!</p>


        </div>
        <div class="col l6 s12">    
        <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://douglasadams.com/">Check us out</a></li>
            <li><a class="white-text" href="https://en.wikipedia.org/wiki/The_Restaurant_at_the_End_of_the_Universe">Fans about us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://github.com/maria-helbling">Ms Maria</a>
      </div>
    </div>
  </footer>
</body>
</html>